include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include comm_assess *.css
recursive-include comm_assess *.csv
recursive-include comm_assess *.html
recursive-include comm_assess *.ico
recursive-include comm_assess *.js
recursive-include comm_assess *.json
recursive-include comm_assess *.md
recursive-include comm_assess *.png
recursive-include comm_assess *.py
recursive-include comm_assess *.svg
recursive-include comm_assess *.txt
recursive-exclude comm_assess *.pyc
